@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.noText span {
    display: none;
}
table#agents, th, td {
  border: 2px solid;
  margin: 50px auto 20px;
}
table#agents td:nth-of-type(-n+5) {
    padding: 2px 10px;
}
table#agents input {
    background-color: #FFF;
    width: 100%;
}
table#agents button {
    background-color: blue;
    color: #FFF;
    padding: 4px 20px;
    margin: 0;
}
table#agents tr:nth-child(even){background-color: #bab7b7;}

.green span, .red span {color: white;}
.orange span {color: black;}
.green {background-color: green;}
.orange {background-color: orange;}
.red {background-color: red;}

table#agents form {
    display: flex;
    flex-direction: column;
    width: 140px;
}

@media (max-width: 920px) {
table#agents form {
    width: 70px;
}
table#agents form button {
    padding: 2px 0px;
}
.mobile {
    display: none;
}
table#agents td {
    padding: 2px 0px 2px 2px;
    font-size: 14px;
}
table#agents tr td:nth-of-type(1),
table#agents tr th:nth-of-type(1) {
    max-width: 100px;
}
table#agents tr td:nth-of-type(4),
table#agents tr th:nth-of-type(n+4){
    display: none;
}
table#agents tr td:nth-of-type(5){
    min-width: 20px;
} 
}